*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Gentium Plus', serif;
    font-size: 20px;
    color: black;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.6;
}

header#banner {
    margin: 25px 0;
}

header#banner a {
    color: black;
    text-decoration: none;
}

header#banner a:hover {
    text-decoration: underline;
}

li p {
    margin: 0 !important;
}

.selected {
    text-decoration: underline !important;
}

header#banner h2 {
    display: inline;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 3px;
}

header#banner nav ul li a {
    color: #454545;
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h3 {
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: black;
    margin: 16px 0;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #d8d8d8;
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts {
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    color: #767676;
    margin-left: 10px;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    text-decoration: underline;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-weight: 600;
    line-height: 1.15;
}

main#content header#post-header > div {
    display: block;
    color: #767676;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

main#content code,
main#content pre {
    font-family: 'Iosevka Term Web', 'Menlo', monospace;
}

main#content code {
    padding: 0 5px;
}

main#content pre {
    display: block;
    overflow-x: auto;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
    border-left: 5px solid black;
}

main#content pre code {
    padding: 0;
}

main#content .footnotes {
}

footer#footer {
    font-weight: 400;
    color: #b3b3b3;
    margin: 40px 0;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  margin: 10px 0 10px 0;
}
