<h3>{{ i18n "projects.title" }}</h3>

<ul id="posts">
  {{ $s := slice 
    (dict "project" "Oxycards - Terminal based quiz cards" "link" "https://github.com/BrookJeynes/oxycards" "description" "Oxycards is a quiz card application built within the terminal.")
    (dict "project" "Slime Rancher 2 - Interactive map" "link" "https://brookjeynes.github.io/slime-rancher-2-interactive-map/" "description" "An interactive game map for the game Slime Rancher 2.")
    (dict "project" "github.com/brookjeynes" "link" "https://github.com/BrookJeynes" "description" "A home for all my projects.")
  }}
  
  {{- range $s }}
    <li>
        <a href="{{ .link }}">
            {{ .project }}
        </a> <br />
        <small>{{ .description }}</small>
    </li>
  {{- end }}
</ul>
